.feed-box {
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
    word-wrap: break-word;
}

.feed-box.admin {
    overflow: scroll;
    max-height: 600px;
}

.feed-box .header h3 {
    display: inline;
}

.feed-box .header{
    border-bottom: 1px dotted #c8c8c8;
    padding-bottom:10px;
    margin-bottom:10px;
}

.feed-box .media {
    border-bottom: 1px dotted #c8c8c8;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.feed-box .media img {
    width: 100%;
}

.feed-box .media .img-container {
    float: left;
    width: 25%;
}
.feed-box .media a {
    text-decoration: none;
    
    width: 70%;
    float: right;
}
.feed-box .media.no-image a {
    width: 100%;
}
.feed-box .media .source {
    margin-bottom:0px;
    font-style: italic;
    float: right;
    width: 70%;
}
.feed-box .media.no-image .source {
    width: 100%;
}
.feed-box .media .footer {
    clear:both;
}